@model ProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div class="auth__wrap auth__wrap--register">
    <!-- BEGIN AUTH REGISTER-->
    <header class="listing__header">
        <h1 class="listing__title">@Model.Username Profil Sayfası</h1>
        <h2 class="listing__headline">Kişisel bilgilerinizi düzenleyebilirsiniz</h2>
    </header>
    <div class="listing__panel">
        <span class="listing__header-text listing__header-text--edit">
            @if (HttpContext.Current.User.IsInRole("Passive"))
            {
                <span>@Html.ValidationSummary()</span>
                <a href="@Url.Action("ResendActivation","Account")">Aktivasyon kodunu tekrar yolla</a>
            }
        </span>
    </div>
    @Html.ValidationSummary()
    @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "auth__form js-register-form js-parsley" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6">
            <div class="auth__coll form-group">
                @Html.LabelFor(x => x.Username, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.Username, new { @class = "auth__in auth__in--text form-control" })
            </div>
            <div class="auth__coll form-group">
                @Html.LabelFor(x => x.Name, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.Name, new { @class = "auth__in auth__in--text form-control" })
            </div>
            <div class="auth__coll auth__coll--right form-group">
                @Html.LabelFor(x => x.PhoneNumber, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "auth__in auth__in--text form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="auth__coll auth__coll--right form-group">
                @Html.LabelFor(x => x.Email, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "auth__in auth__in--text form-control" })
            </div>
            <div class="auth__coll auth__coll--right form-group">
                @Html.LabelFor(x => x.Surname, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.Surname, new { @class = "auth__in auth__in--text form-control" })
            </div>
            <div class="auth__row">
                <button type="submit" class="auth__in auth__in--submit pull-right">Kaydet</button>
            </div>
        </div>
    }
    <hr>
    <br />
    @Html.ValidationSummary()
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "auth__form js-register-form js-parsley" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6">
            <div class="auth__coll form-group">
                @Html.LabelFor(x => x.OldPassword, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.OldPassword, new { @class = "auth__in auth__in--text form-control", type = "password" })
            </div>
            <div class="auth__coll form-group">
                @Html.LabelFor(x => x.Password, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.Password, new { @class = "auth__in auth__in--text form-control", type = "password" })
            </div>
            <div class="auth__coll auth__coll--right form-group">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "auth__label control-label" })
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "auth__in auth__in--text form-control", type = "password" })
            </div>
            <div class="auth__row">
                <button type="submit" class="auth__in auth__in--submit pull-right">Şifreyi Değiştir</button>
            </div>
        </div>

    }
    <!-- end of block .auth__form-->
    <!-- END AUTH REGISTER-->
</div>
